.home-btn-one {
    height: 40px;
    width: 120px;
    border-width: 0px;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
}


.home-btn-two {
    height: 40px;
    width: 100px;
    border-width: 0px;
    outline: none;
    background-color: transparent;
    border: 2px solid #000000;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .home-btn-one {
        font-size: 17px;
        width: 140px;
    }

    .home-btn-two {
        font-size: 17px;
        width: 150px;
    }
}