.bg-home {
    background-color: #ffffff;
    padding: 20px;
}

.home-content {
    margin-top: 30px;
}

.home-content h1 {
    font-weight: bold;
    font-size: 29px;
}

.home-content p {
    margin-top: 20px;
    font-size: 14px;
}

.home-image {
    padding: 50px;
}

.home-image img {
    width: 100%;
    border-radius: 100%;
}

@media screen and (min-width: 768px) {
    .home-content {
        margin-top: 100px;
    }

    .home-content h1 {
        font-size: 50px;
    }

    .home-content p {
        font-size: 20px;
    }
}